langchain
langchain-community
langchain-text-splitters
langchain-core

chromadb
pinecone

sentence-transformers

ollama

networkx
# neo4j

spacy

unstructured
markdown

python-dotenv
pydantic
pydantic-settings

pandas
numpy
scikit-learn

jupyter
ipykernel
black
flake8

tqdm
colorlog
